/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  margin: 0;
  color: var(--text-color, #F1B2CE);
  font-family: var(--main-font, sans-serif);
  background: var(--bg-image) no-repeat top center;
  background-color: var(--bg-color);
  background-attachment: fixed;
  background-size: cover;
  padding: 0 10px;
  min-inline-size: 375px;
  font-size: 18px;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: inline-block;
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inset-block-start: 10px;
  inset-inline-end: 0;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: inline-block;
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inset-block-end: 10px;
  inset-inline-start: 0;
}

.rec {
  position: absolute;
  top: 10px;
  right: 18px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
}

.rec::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background: var(--accent-color);
  border-radius: 50%;
  margin-inline-start: 10px;
  margin-inline-end: -9px;
  margin-block-end: 2px;
  box-shadow: 0 0 4px 3px;

}

.header__title {
  margin-block-start: 65px;
  margin-block-end: 55px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  color: var(--text-accent-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__theme-menu {
  margin-block-start: 72px;
}

.header__theme-menu-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  justify-content: end;
  align-items: end;
}

.header__theme-menu-item {
  list-style-type: none;
}

.header__theme-menu-button {
  font-size: 18px;
  font-family: var(--main-font, sans-serif);
  background-color: transparent;
  color: var(--accent-color);
  border: none;
  text-transform: lowercase;
  padding: 1.5px 13px;
}
   
.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--accent-color);
}

.title-decor {
  color: var(--bg-color);
  background-color: var(--accent-color);
}

.header__description {
  margin-block-end: 66px;
}

.content {
  margin-block-start: 40px;
}

.content__block:not(:first-child) {
  margin-block-start: 50px;
}

.content__paragraph {
  font-size: 18px;
  line-height: 23.4px;
}

.content__link {
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0 var(--accent-color);
}

.content__block-item {
  margin-block-start: 20px;
}

.content__paragraph {
  margin-block-start: 10px;
}

.subtitle {
  margin-block-start: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.content__block-pictures {
  display: grid;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;
}

.content__block-pictures-title {
  margin-block-end: 10px;
}

.content__block-pictures {
  margin-block-end: 40px;
}

.content__picture {
  height: 100%;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  color: var(--text-accent-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}